/* CSS Document */
/*pozadí a layout*/

body

{
background-color: rgb(102,255,102);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
 
}
#layout 


{
width:1200px;
height:800px;
border: thick solid rgb(0,0,0);
margin-left:auto;
margin-right:auto;


}

#hlava
{
width:100%;
height:35px;
border-bottom: thick solid rgb(0,0,0);
text-align:center;

background-color: rgb(204,255,102);

}

#menu
{
 width:100%;
 height:25px;
border-bottom: thick solid rgb(0,0,0); 
background-color: rgb(255,255,204);


}
#obsah
{
width:84%;
height:660px;
float:left;
text-align:center;
padding-top:10px;
background-color: rgb(255,255,255); 
border-right: thick solid rgb(0,0,0);
border-bottom: thick solid rgb(0,0,0);
}

#reklama
{
 width:15%;
 height:660px;
 float:right;
  font-size: 12px;
  padding-top:20px;
  padding-left: 5px;
  }
#paticka
{

width:100%;
height:40px;
clear:both;
}
 li
{
display: block;
width:300px;
height:40px;
text-align:center;
margin-left:5px;



}
ul
{
text-decoration:none;

}
a
{
 color:black;
 text-decoration:none;
 margin-left:100px;
 margin-top:2px;
}



a:hover
{
color: rgb(102,255,102);

}





#seznam 
{
margin-left:  300px;

} 

iframe
{
margin-left:9px;
margin-top:10px;

}
#twd
{
display:block;
width:300px;
height:150px;
font-size: medium;
float:left;
margin-left:5px;

}

#Arrow
{
display:block;
width:300px;
height:150px;
font-size: medium;
float:right;
margin-top:10px;
margin-right:5px;
}

#suit
{
display:block;
width:300px;
height:150px;
font-size: medium;
float:right;
clear:both;
margin-top:110px;
margin-right:5px;




}
#fire
{
 display:block;
width:300px;
height:150px;
font-size: medium;
float:left;
margin-top:100px;
margin-left:5px;
}
h1
{
margin-top:1px;

}
.javamenu
{
 margin-left:300px;
}
