/* CSS Document */
  /*vzhled*/
 #obal
   {
    
     width: 1200px;
     height: 800px;
     text-align: center;
     background-color: rgb(204,204,204);
     margin: auto;
     border: thin solid rgb(0,0,0); 
   }
        
   
    #nadpis
     {
       width: 1200px;
       height:100px;
       border-bottom: thin solid rgb(0,0,0);
     }
    
    #menu
    {
     width: 200px;
     height:600px; 
      float: left;
      border-right: thin solid rgb(0,0,0); 
     
   
 
    }
    
  #obsah
    {
       width: 980px;
        height:600px;
       float: right;
       
       text-align:center;
       
    }
    
    #paticka
    {
      width: 1200px;
      height:100px;
      clear: both;
    margin-bottom:10px;
       border-top: thin solid rgb(0,0,0); 
    }
    
   
   
   
     body
    {

    background-image: url(pozadi.jpg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
   
    }
  
    a
    {
     color: rgb(0,0,0);
     text-decoration: none;
     text-align:left;
     
    }
    a:hover
    {
      font-weight: bolder;
    }
   
    
       /*text-formatovaní*/
    
      h1
    {
       font-size: 32px;
       color: white;
      
      }
      
      #copy
      {
       padding-top:15px;
       Padding-left: 900px;
      
      }
      h3
      {
      font-size:16px;
      text-align: center;
      }
      Li
    {
    display:block;
  
    width:130px;
    height:20px; 
    margin-top:30px;
   text-align:center;
    border: thin solid rgb(0,0,0);
    border-radius: 4px;
    opacity:0.5;
    padding-top:10px;
    font-size: x-small;
    margin-left:1px;
    
    
    }
    
    #obsah p
    {
    margin-top:20px;
    
    }
 
 
 /*formulář*/
   
   label
  {
  margin-left:20px;
 
  }
   
    

  

   table
     {
      border: thin solid rgb(0,0,0);
    
     }
     
   .tlacitko
  {
  background-color: rgb(149,149,149);
  font-weight: bold;
  margin-top:4px;
  
  }
  
  /*galerie*/
   img
   {
    border: thin solid rgb(100,100,100); 
    margin-top:10px;
    margin-right:8px;
   } 
   
   #uvod
   {
   border:thin solid rgb(204,204,204); 
   margin-top:250px;
   margin-left:600px;
   opacity:0.5;
   } 
