/* CSS Document */
     body
     {
      text-align: center;
      font-family: Arial;
      background-image: url(web.jpg); 
     }
    
      table
     {
     border: 4px rgb(0,0,0) solid;
     width: 1200px;
     height: 600px;
     border-collapse: collapse;
     margin-left: auto;
     margin-right: auto;
    }
    
    td
    {
     border: 2px rgb(0,0,0) solid;
    }
     
   #hlava
   {
    background-image: url(obrazky/hlava.jpg);
    height: 50pt;
    font-size: 24pt;
    font-weight: bolder;
    color: rgb(255,255,102); 
   }
    
    #pata
   {
    background-color: rgb(127,240,160); 
    height: 30pt;
    color: black;
    padding-right: 10pt;
     
   } 
    #menu
   {
    background-color: rgb(255,255,102);
    width: 70pt;
    text-align: center;
    vertical-align: top;

    
   } 
    #obsah
   {
    background-color: white;
    height: 520px;
    vertical-align: top;
    width: 1130px;
   } 
   
   #copy
   {
   text-align: right;
   font-family: Calibri;
   font-size: x-small;
   
   }
   ul
   {
    list-style-type: none;
    font-family: Times New Roman; 
    font-size: x-large;
   }
  
  li
  {
   display: block;
   height: 20pt;
   width: 60pt;
   margin-top: 20pt;
   background-color: rgb(255,255,102);
   text-align: center;
   margin-right: 20pt;
   margin-bottom: 10pt ;
   text-decoration: none;
   font-size: 20px;
   
  }
     a:link
    {
     color: black;
     text-decoration: none;
    } 
    a:hover
    {
     font-weight: bolder;
     text-decoration: none;
    } 
    
   
    a:visited
    {
     color: black;
     text-decoration: none;
    }
    .ingredience
    {
    float: left;
    }
    .ingredience li
    {
     background-color: rgb(255,255,255);
     margin-left: 8pt;
     margin-top: 4pt;
     list-style-type: circle;
     display: block;
     width: 200pt;
     padding-left: 4pt;
     padding-top: 2pt;
     border: thin solid ;
    }
    .ingredience h3
    {
     margin-left: 10pt;
    }
    
    .recept
    {
     text-align: center;
     margin-left: auto;
     font-size: 14pt;  
     
    }
    .recept h3
    {
     margin-left: 10pt;
     }
   
   