/* CSS Document */
body
{
 background-image: url(pozadi.jpg);
 width:1200px;
 height:800px;
text-align: center;
margin:auto;
color:white;
font-family: Tahoma, Geneva, Verdana, sans-serif;


}
#hlavicka
{
width:1200px;
height:100px;

}
#menu
{
width:200px;
height:650px;
float:left;
background-color: rgb(64,160,255);
border-radius:15px;
opacity:0.5; 

}
#paticka
{
 width:1200px;
height:50px;
background-color: rgb(255,255,255);
clear:both;
opacity:0.7;
border-radius:15px; 
}
#obsah
{
overflow:auto;
height:650px;
width:1000px;

float:right;

}
h1
{
 color: rgb(255,255,255);
}
.menu
{
 text-decoration: none;
 display:block;
 width:100px;
 height:20px;
 text-align:center;
 margin-left:50px;
 margin-top:10px;
 border: thin solid rgb(0,0,0);
 opacity:0.9;
border-radius:15px; 
 

}
a
{
  text-decoration: none;
  color:black;
  

}
a:hover
{
  text-decoration: none;
  color:black;
  font-style: italic;
  

}
h4
{
 text-align:right;
padding-top:15px;
color:black;

}
p
{
 color:blue;
 
}
h2
{
 color:green;
}



